.main{
    width: 100%;
    height: max-content;
    margin: 0%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 35vmax;
    align-items: center;
    text-align: center;
}
.top > h1{
font-weight: 400;
    font-size: 32px;
    font-family: "Roboto";
    color: grey;
}
.top > button{
    width: 6vmax;
    height: 2vmax;
    background: rgb(239 6 6 / 85%);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}
.mid{
margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    grid-gap: 50px;
}
.mid > input{
    width: 15%;
    height: 2vmax;
    font-size: 16px;
    font-family: "Roboto";
    color: #000;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    align-items: center;
    display: flex;
    justify-content: center;
}
.mid > button{
    width: 6vmax;
    height: 2vmax;
    background: rgb(32, 31, 30);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}
.list{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
}